<h1>Home page!</h1>

<p>This is an example for deploying to Heroku</p>
<img width="500" src="http://hd-wall-papers.com/images/wallpapers/cool-images-hd/cool-images-hd-7.jpg">
<div>
    <a href="/about">About page</a>
</div>